/* Estilos generales */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}
:root {
  --color-primario:  #f6a919;
  --color-suave: #eeca89;
  --color-secundario: black;
}
/* Sección de navegación */
.navegacion-header {
  background-color:var(--color-primario);
  padding: 10px 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  animation: fadeIn 1s ease-in-out;
}
.navegacion-header a{
  color: var(--color-primario);
  font-weight: 600;
  
}

/* Sección de presentación */
.presentacion {
  background-color: var(--color-secundario);
  padding: 150px 0;
  text-align: center;
  animation: fadeInUp 1s ease-in-out;
  color: var(--color-suave);
}

.presentacion h3 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInDown 0.8s ease-in-out forwards;
}
.presentacion h3 span {
  color: var(--color-primario);
}

.presentacion h3:hover span {
  font-weight: 800;
}

.presentacion h1 {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 30px;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 0.8s ease-in-out 0.2s forwards;
  color: var(--color-suave);

}

.presentacion .redes {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 0.8s ease-in-out 0.4s forwards;
}

.presentacion .redes a {
  display: inline-block;
  margin: 0 10px;
  font-size: 20px;
  color: var(--color-primario);
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

.presentacion .redes a:hover {
  font-weight: 900;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Sección "Sobre mí" */
#sobremi {
  display: flex;
  align-items: center;
  padding: 80px 0;
  animation: fadeInUp 1s ease-in-out;
  background-color: #eeca89;
  text-align: justify;
}

.contenedor-foto {
  flex: 0 0 40%;
  max-width: 40%;
  text-align: center;
}

.contenedor-foto img {
  max-width: 300px;
  border-radius: 50%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.contenedor-foto img:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
}
.sobremi {
  flex: 0 0 60%;
  max-width: 50%;
  padding-left: 40px;
}

.sobremi .titulo-seccion {
  font-size: 24px;
  font-weight: bold;
  color: var(--color-primario);
  margin-bottom: 20px;
  padding-bottom: 20px;
  text-align: start;
}

.sobremi .titulo-seccion::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #0b0b0b;
  transition: width 0.3s ease-in-out;
  text-justify: justify;
}

.sobremi:hover .titulo-seccion::after {
  width: 80px;
}

.sobremi p {
  font-size: 16px;
  color: black
  
}



.sobremi strong {
  font-weight: bold;
  color:  var(--color-primario);
  transition: color 0.3s ease-in-out;
}

.sobremi:hover strong {
  font-weight: 700;
}

@keyframes fadeInUp {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Sección "Servicios" */
#servicios {
  background-color: black;
  padding: 80px 0;
  animation: fadeInUp 1s ease-in-out;
}

.titulo-seccion {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 50px;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInDown 0.8s ease-in-out forwards;
  color: var(--color-suave);
}
.titulo-seccion_habilidades{
  color: var(--color-primario);
  font-size: 35px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 50px;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInDown 0.8s ease-in-out forwards;
}

.fila {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}

.servicio {
  background-color: var(--color-suave);
  padding: 30px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  flex: 0 0 calc(33.33% - 20px);
  max-width: calc(20% - 10px);
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 0.8s ease-in-out forwards;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.servicio:nth-child(3) {
  animation-delay: 0.2s;
}

.servicio:nth-child(4) {
  animation-delay: 0.4s;
}

.servicio:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
}

.servicio .icono {
  font-size: 50px;
  color: black;
  margin-bottom: 20px;
  transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
}

.servicio:hover .icono {
  transform: scale(1.2);
  color: var(--color-primario)
}

.servicio h6 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  transition: color 0.3s ease-in-out;
}

.servicio:hover h6 {
  color: var(--color-primario);
}

.servicio hr {
  width: 50px;
  border-top: 2px solid #007bff;
  margin: 20px auto;
  transition: width 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.servicio:hover hr {
  width: 80px;
  border-color: var(--color-primario);
}

.servicio p {
  font-size: 16px;
  color: #666;
  transition: color 0.3s ease-in-out;
}

.servicio:hover p {
  color: black;
}

.servicio a {
  color: #007bff;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.servicio:hover a {
  color: var(--color-primario);
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
/* RESPONSIVO*/

@media (max-width: 991px) {
  .servicio {
    flex: 0 0 calc(50% - 20px);
    max-width: calc(50% - 20px);
  }
}

@media (max-width: 767px) {
  .servicio {
    flex: 0 0 100%;
    max-width: 100%;
  }
}



@media (max-width: 767px) {
  .servicio {
    flex: 0 0 100%;
    max-width: 60%;
  }
}



/* Sección "Habilidades" */

#habilidades {
  background-color: var(--color-suave);
  padding: 80px 0;
  animation: fadeInUp 1s ease-in-out;
}

.contenedor-skills {
  max-width: 800px;
  margin: 0 auto;
}

.titulo-seccion {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 50px;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInDown 0.8s ease-in-out forwards;
}

.skill {
  margin-bottom: 30px;
  opacity: 0;
  transform: translateX(-20px);
  animation: fadeInLeft 0.8s ease-in-out forwards;
}

.skill:nth-child(2) {
  animation-delay: 0.5s;
}

.skill:nth-child(3) {
  animation-delay: 2s;
}

.skill:nth-child(4) {
  animation-delay: 3s;
}

.skill:nth-child(5) {
  animation-delay: 3.5s;
}

.skill:nth-child(6) {
  animation-delay: 4s;
}

.skill:nth-child(7) {
  animation-delay: 4.5s;
}

.skill:nth-child(8) {
  animation-delay: 5s;
}

.skill:nth-child(9) {
  animation-delay: 5.5s;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  opacity: 0;
  transform: translateX(20px);
  animation: fadeInRight 0.6s ease-in-out forwards;
}

.info label {
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

.progress-bar {
  height: 20px;
  background-color: var(--color-secundario);
  border-color: var(--color-secundario);
  transition: width 0.5s ease-in-out, background-color 0.5s ease-in-out, border-color 0.5s ease-in-out;
  animation: progressBar 1s ease-in-out forwards;
}

.progress-bar:before {
  content: attr(aria-valuenow) "%";
  position: absolute;
  right: 10px;
  color: #fff;
  font-weight: bold;
  animation: fadeIn 0.5s ease-in-out 0.5s forwards;
  opacity: 0;
}
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/*RESPONSIVO */

@media (max-width: 991px) {
  .contenedor-skills {
    max-width: 600px;
  }

  .progress-bar {
    width: 60% !important;
  }
}

@media (max-width: 767px) {
  .contenedor-skills {
    max-width: 100%;
    padding: 0 20px;
  }

  .info label {
    font-size: 16px;
  }

  .progress-bar {
    height: 16px;
  }
}


/* Animaciones */

@keyframes progressBar{
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideInUp {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeInLeft {
  0% {
    transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadeInRight {
  0% {
    transform: translateX(50px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Sección "Portafolio" */

#porfolio {
  background-color: var(--color-secundario);
  padding: 100px 0;
  animation: fadeInUp 1s ease-in-out;
}

.titulo-seccion {
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 70px;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInDown 0.8s ease-in-out forwards;
}

.portfolio-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 10px;
}

.portfolio-item {
  background-color: var(--color-suave);
  padding: 40px;
  margin: 30px;
  text-align: center;
  box-shadow: 0 10px 20px rgba(212, 143, 24, 0.1);
  border-radius: 12px;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 0.8s ease-in-out forwards;
  transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out, background-color 0.5s ease-in-out;
  overflow: hidden;
}

.portfolio-item:nth-child(2) {
  animation-delay: 0.2s;
}

.portfolio-item:nth-child(3) {
  animation-delay: 0.4s;
}

.portfolio-item:nth-child(4) {
  animation-delay: 0.6s;
}

.portfolio-item:nth-child(5) {
  animation-delay: 0.8s;
}

.portfolio-item:nth-child(6) {
  animation-delay: 1s;
}

.portfolio-item:nth-child(7) {
  animation-delay: 1.2s;
}

.portfolio-item:nth-child(8) {
  animation-delay: 1.4s;
}

.portfolio-item:hover {
  transform: translateY(-15px);
  box-shadow: 0 15px 25px var(--color-suave);
  background-color: #f9f9f9;
}

.portfolio-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-secundario);
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.portfolio-item:hover::before {
  opacity: 1;
}

.portfolio-item::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 80px;
  height: 80px;
  background-color: var(--color-primario);
  border-radius: 50%;
  opacity: 0;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.portfolio-item:hover::after {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}

.portfolio-link {
  text-decoration: none;
  color: inherit;
  position: relative;
  z-index: 1;
}

.portfolio-item h6 {
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 15px;
  color: var(--color-primario);
  transition: color 0.3s ease-in-out;
}
@media (max-width: 991px) {
  .portfolio-item {
    flex: 0 0 calc(50% - 20px);
  }
}
/* Footer */
#contacto {
  color: var(--color-primario);
  padding: 50px 0;
  text-align: center;
  animation: fadeInUp 1s ease-in-out;
}

#contacto footer {
  max-width: 800px;
  margin: 0 auto;
}

#contacto h5 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

#contacto h5 span {
  color: var(--color-primario);
  transition: color 0.3s ease-in-out;
}

#contacto h3:hover span {
  color: black;
}

#contacto h5 {
  font-size: 18px;
  margin-bottom: 20px;
}

#contacto .redes {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

#contacto .redes a {
  display: inline-block;
  color: var(--color-primario);
  text-decoration: none;
  margin: 0 15px;
  font-size: 20px;
  transition: color 0.3s ease-in-out;
}

#contacto .redes a:hover {
  color: black;
  font-weight: 900;
}

#contacto .redes .icon-whatsapp {
  color: var(--color-primario);
}

#contacto .redes .icon-whatsapp:hover {
  color: black;
}
 /*RESPONSIVE */
@media (max-width: 767px) {
  #contacto {
    padding: 40px 20px;
  }

  #contacto h4 {
    font-size: 22px;
  }

  #contacto h6 {
    font-size: 16px;
  }

  #contacto .redes a {
    font-size: 18px;
    margin: 0 10px;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}